.mxd-menu__base {
  appearance: none;
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.main-menu__toggle {
  appearance: none;
  border: 0;
  background: transparent;
  padding: 0;
  color: inherit;
}

.mxd-nav__hamburger {
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: var(--_radius-l);
  cursor: pointer;
  padding: 0;
}

.submenu {
  display: block;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding-top: 0;
  pointer-events: none;
  visibility: hidden;
  transition:
    max-height 400ms var(--_animbezier),
    opacity 240ms ease,
    padding-top 400ms var(--_animbezier),
    visibility 0s linear 400ms;
}

.main-menu__item.open > .submenu {
  max-height: 48rem;
  opacity: 1;
  padding-top: 2rem;
  pointer-events: auto;
  visibility: visible;
  transition:
    max-height 400ms var(--_animbezier),
    opacity 240ms ease,
    padding-top 400ms var(--_animbezier),
    visibility 0s;
}

.mxd-logo__image .mxd-logo__bg {
  fill: var(--base-opp);
}

.mxd-logo__image .mxd-logo__cat {
  fill: var(--base);
}

.marquee-right--gsap .marquee__toright {
  animation: mxd-marquee-right 30s linear infinite;
}

.marquee-left--gsap .marquee__toleft {
  animation: mxd-marquee-left 30s linear infinite;
}

.marquee--gsap .marquee__top {
  animation: mxd-marquee-left 30s linear infinite;
}

.marquee--gsap .marquee__bottom {
  animation: mxd-marquee-right 30s linear infinite;
}

@keyframes mxd-marquee-right {
  from {
    transform: translate3d(-20%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes mxd-marquee-left {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-20%, 0, 0);
  }
}

.form-status {
  margin-top: 1.6rem;
  color: var(--t-bright);
  font: normal var(--fw-regular) 1.4rem/1.4 var(--_font-default);
}

.btn-to-top {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition:
    opacity var(--_animspeed-medium) var(--_animbezier),
    transform var(--_animspeed-medium) var(--_animbezier),
    visibility 0s linear var(--_animspeed-medium);
}

.btn-to-top.is-visible {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transition:
    opacity var(--_animspeed-medium) var(--_animbezier),
    transform var(--_animspeed-medium) var(--_animbezier),
    visibility 0s;
}
